<section class="msger">
    <header class="msger-header">
      <div class="msger-header-title" *ngIf="chats.length > 0">
        <i class="fas fa-comment-alt"></i> {{chats[0].roomId}}
      </div>
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </header>
  
    <main class="msger-chat" *ngIf="chats.length !== 0">
      <div *ngFor="let chat of chats">
      <div class="msg left-msg" *ngIf="user.firstName !== chat.from">
        <div
         class="msg-img"
         style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
        ></div>
  
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">{{chat.from}}</div>
            <div class="msg-info-time">{{chat.createdAt}}</div>
          </div>
  
          <div class="msg-text">
            {{chat.message}}
          </div>
        </div>
      </div>
  
      <div class="msg right-msg" *ngIf="user.firstName === chat.from">
        <div
         class="msg-img"
         style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
        ></div>
  
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">{{chat.from}}</div>
            <div class="msg-info-time">{{chat.createdAt}}</div>
          </div>
  
          <div class="msg-text">
            {{chat.message}}
          </div>
        </div>
      </div>
    </div>
    </main>
  
    <form class="msger-inputarea">
      <input #message type="text" class="msger-input" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn" (click)="sendMessage(message.value)">Send</button>
    </form>
  </section>